
.barreorange {background:orange;
  height:150px;
  width:100%;
}


h2 {
color:#FF7F50;
}

.firstevent {
  border-radius: 10px;
  background-color: #FACD6B;
  text-align: center;
  width: 600px;
}


.buttonnewevent {
  padding:15px;
  width: 200px;
  background-color: orange;
  border-radius:10px;
  // text-align: center;
  // text-align-last: right
}



// .nbranswer {
//   color:orange;
//   border: 1px solid orange;
//   background-color:white;
//   border-radius: 50%;
//   width:60px;
//   text-align: center;
//   padding: 3px 0px 0px 0px;
// }
