body{
  background-color:#FFF;
}
.forgotpassword_password {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* text */
.forgotpassword_password .forgotpassword_title {
  overflow: auto;
  color: #FFA049;
  font-weight: bold;
}
.forgotpassword_title{
  text-align: left;
  margin-top: 50px;
}

.form-inputs{
  margin: 20px auto;
}

.form-group {
  color: #2C423D;
}
.form-check-label{
  color:#707D7A;
}

/* required asterisk */
.required {
  abbr{
  text-decoration: none;
  color:#FFA049;
}
}

