body{
  background-color:#FFF;
}
.forgotpassword-password {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* text */
.forgotpassword-password .forgotpassword_title {
  overflow: auto;
  color: $color-lightorange;
  font-weight: bold;
}
.forgotpassword-title{
  text-align: left;
  margin-top: 50px;
}

.form-inputs{
  margin: 20px auto;
}

.form-group {
  color: $color-text;
}
.form-check-label{
  color:$color-text;
}

/* required asterisk */
.required {
  abbr{
  text-decoration: none;
  color:$color-lightorange;
}
}

