body{
  background-color:#FFF;
}
.login-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* text */
.login-container .login_title {
  overflow: auto;
  color: #FFA049;
  font-weight: bold;
}
.login-title{
  text-align: left;
  margin-top: 50px;
}

.form-inputs{
  margin: 20px auto;
}

.form-group {
  color: #2C423D;
}
.form-check-label{
  color:#707D7A;
}
