.container-registered {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.guestformulaire {
    width: 50vw;
}

.table-registered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registered-back {
    padding: 20px 0;

    .btn {
        padding: 5px 160px;
    }
}

.formactions {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $color-orange;
}

.titletb h2 {
    text-align: center;
    padding: 10px 0;
}

.table-bordered {
    width: 700px;
    height: 180px;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: $color-butter;
    text-align: center;
}

.table-bordered th {

    height: 10px;
    border: 1px solid white;
    background-color: $color-orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.table-bordered tr {
    border: 1px solid white;
    background-color: $color-butter;
    font-size: small;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: $color-orange;
}


tr:hover td {
    background-color: $color-orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: white;

}
