.container-registered {
    display: flex;
flex-direction:column;
align-items: center;
}


.guestformulaire {
  width: 50vw;
}

.table-registered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registered-back {
  padding: 20px 0;
  .btn {
    padding: 5px 160px;
  }
}
// .ex-product-form {
//     font-family: 'Montserrat', sans-serif;
//     font-size: 16px;
//     font-weight: 600;
//     color: $color-orange;
//     background-color: green;
// }

.formactions {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $color-orange;
}

.titletb h2 {
    text-align: center;
    padding: 10px 0;
    // padding: 30px 0;
}

// .row {
//     margin: 15px 10px 10px 370px;

// }


.table-bordered {
    width: 700px;
    height: 180px;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: $color-butter;
    text-align: center;
}

.table-bordered th {

    height: 10px;
    font-size: small;
    border: 1px solid white;
    background-color: $color-orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: white;
}

.table-bordered tr {
    border: 1px solid white;
    background-color: $color-butter;
    font-size: small;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 1000;
    color: $color-orange;
}


tr:hover td {
    background-color: $color-orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 1000;
    color: white;

}





// .backbtn{
//     padding: 10px 55px;
//     background-color: rgb(253, 187, 45);
//     background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
//     border-radius: 100px;
//     font-weight: 600;
//     color: #FFF;
//     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
//     transition-duration: 800ms;
//     margin: 30px 0px 0px 130px;
// }

// .backbtn:hover{
//         background-color: $color-lightorange;
//         text-decoration:none;
//         border-radius: 100px;
//         opacity:0.6;
//         color: white;
// }
