.containter {
    display: flex;
    height: 100vh;
}

.form-actions:hover {
    btn {
        padding: 5px 110px;
        background-color: #FFA049;
        border-radius: 100px;
        color: #FFF;
    }
}

.form-actions {
  btn{
        padding: 5px 110px;
        background-color: #FCDAA4;
        border-radius: 100px;
        color: #F27400;
    }
}
