.containter {
    display: flex;
    height: 100vh;
}

.form-actions:hover {
    .btn {
        padding: 5px 110px;
        background-color: $color-lightorange;
        border-radius: 100px;
        color: #FFF;
    }
}

.form-actions {
  .btn{
        padding: 5px 110px;
        background-color: $color-orange;
        border-radius: 100px;
        color: $color-orange;
    }
}
