
<div class="container">

  <h1>Food constraint survey</h1>

  <p>
    Dear <%= @guest.first_name %> <%= @guest.last_name %>,
    <br>
    You are invited to a special occasion your host would like to know
    if you have food constraint for the meal.

    <br>
    Thanks for filling the food survey if necessary.
    <br>
    best regards,

   <%=  link_to "edit form", edit_survey_url(@guest.surveys.last, host:"http://www.repas.com") %>


  </p>

</div>
