<div class="homepage">
    <h1 class="home-title">
        Welcome to Custom Food!
    </h1>
    <a class="login">
        <%= link_to "Login", new_user_session_path, class:"login-btn" %>
    </a>
</div>
