<div class="container">
  <div class="row">
  <svg viewBox="0 0 960 300">
    <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="80%">Confirmed</text>
  </symbol>

  <g class = "g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>
<p style="font-size:100px">&#128521;</p>
  </div>

</div>
