.alert {
    padding: fixed;
    position: absolute;
    top: 8%;
    left: 40%;
    text-align: center;
    z-index: 2000;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #577C73;
  }
@media (max-width: 600px) {
  .alert {
    position: absolute;
    top: 2%;
    left: 33%;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    width: 150px;
    text-align: center;
    padding: 2px;
    color: #577C73;
  }
}
