.barreorange {
    background: rgb(253, 187, 45);
    background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
    height: 240px;
    width: 100vw;
    margin-top: -65px;
}

