html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.barreorange {
    background: rgb(253, 187, 45);
    background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
    height: 240px;
    width: 100vw;
    margin-top: -65px;
}

.barreorange h1 {
    color: #FFF;
    text-transform: uppercase;
    padding: 130px 10vw;
    text-align: center;
}


/* mobile view */
@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
    .barreorange {
        display: flex;
        justify-content: center;

        h1 {
            align-items: center;
            margin: 0 auto;
            font-size: 30px
        }
    }
}
