/* back button */
.back-btn {
    .btn {
        padding: 5px 90px;
        background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
        border-radius: 100px;
        font-weight: 600;
        color: #FFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition-duration: 800ms;

        &:hover {
            background-color: $color-butter;
            color: $color-orange;
            text-decoration: none;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }

    }
}

.back-btn-events {
    .btn {
        padding: 5px 27px;
        background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
        border-radius: 100px;
        font-weight: 600;
        color: #FFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition-duration: 800ms;

        &:hover {
            background-color: $color-butter;
            color: $color-orange;
            text-decoration: none;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }

    }
}


/* login and sing button */
.form-actions {
    .btn {
        padding: 5px 110px;
        background-color: $color-butter;
        border-radius: 100px;
        color: $color-orange;
        transition-duration: 500ms;
        font-weight: 500;

        &:hover {
            background-color: $color-lightorange;
            color: #FFF;

        }
    }
}

.forgotpassword-button {
    .btn {
        padding: 5px 20px;
        background-color: $color-butter;
        border-radius: 100px;
        color: $color-orange;

        &:hover {
            background-color: $color-orange;
            color: #FFF;

        }
    }
}

// login button
.login-btn {
    padding: 5px 50px;
    background-color: #FFF;
    border-radius: 100px;
    font-weight: 600;
    color: $color-orange;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition-duration: 800ms;

    &:hover {
        background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
        color: #FFF;
        text-decoration: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}


/* create new event button */
.center-newevent-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-event-btn {

    flex-direction: column;
    justify-content: center;
    padding: 5px 50px;
    background-color: rgb(253, 187, 45);
    background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
    border-radius: 100px;
    font-weight: 600;
    color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition-duration: 400ms;
    margin: 20px 0;

    &:hover {
        background: $color-butter;
        color: $color-orange;
        text-decoration: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

.actions {

    input,
    button,
    select,
    optgroup,
    textarea {
        padding: 5px 50px;
        background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
        border-radius: 100px;
        font-weight: 600;
        color: #FFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition-duration: 800ms;
        margin: 20px 0;
        border: none;

        &:hover {
            color: $color-orange;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0);
        }
    }
}

.actions {
    display: flex;
    justify-content: center;
}

/* show events -> back btn */
.event-back {
    a {
        padding: 5px 50px;
        background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
        border-radius: 100px;
        font-weight: 600;
        color: #FFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition-duration: 800ms;
        margin: 20px 0;
        border: none;

        &:hover {
            color: $color-orange;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0);
        }
    }
}

/* survey questionary send-your-from button */
.submit-btn {
    padding: 5px 50px;
    background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
    border-radius: 100px;
    font-weight: 600;
    color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition-duration: 800ms;
    margin: 20px 0;
    border: none;

    &:hover {
        color: $color-orange;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }
}

/* events show back button */
.button-events {
    color: #FFF;

    &:hover {
        color: $color-orange;
        text-decoration: none;
    }
}

/* GUESTS : new.html.erb - create new guest*/
.back-btn {
    .btn-guest {
        padding: 5px 110px;
        background: linear-gradient(70deg, rgba(253, 187, 45, 1) 0%, rgba(242, 116, 0, 1) 100%);
        border-radius: 100px;
        font-weight: 600;
        color: #FFF;
        border: none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition-duration: 800ms;

        &:hover {
            background-color: $color-butter;
            color: $color-orange;
            text-decoration: none;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }

    }
}
