/* login and sing button */
.form-actions:hover{
  .btn{
    padding: 5px 110px;
    background-color: #FFA049;
    border-radius:100px;
    color: #FFF;
  }
}
.form-actions{
  .btn{
    padding: 5px 110px;
    background-color: #FCDAA4;
    border-radius:100px;
    color: #F27400;
  }
}
.forgotpassword-button:hover{
  .btn{
    padding: 5px 20px;
    background-color: #F27400;
    border-radius:100px;
    color: #FFF;
  }
}
.forgotpassword-button{
  .btn{
    padding: 5px 20px;
    background-color: #FCDAA4;
    border-radius:100px;
    color: #F27400;
  }
}
