$color-yellow: #F2CD48;
$color-butter: #FCDAA4;
$color-lightorange: #FFA049;
$color-orange: #F27400;
$color-darkgreen: #577C73;
$color-text: #2C423D;
$color-pink:#F9445A;
$color-lightgreen:#09e485;
$color-lightblue:#0291e3;
$color-blue: #0F56B3;
$color-purple: #8019C6;


