.form-control{
  background-color: #FFF;
  border-radius: 100px;
  width: 270px;
  outline:none !important;
  border:1px solid #FCDAA4;
}

.form-control:focus {
  background-color:  #FCDAA4;
  outline:none !important;
}

.shared-links:hover{
  margin: 20px auto;
  text-align: center;
  a{
    margin-top: 20px;
    border-radius:100px;
    text-decoration: none;
    color: #F27400;
  }
}

.shared-links{
  margin: 20px auto;
  text-align: center;
  a{
    margin-top: 20px;
    border-radius:100px;
    color: #707D7A;
  }
}
