.navbar-lewagon {
    justify-content: space-between;
    // background: #fff9f3;
    background-color:rgba(255, 255, 255, 0.8);

}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}


.logo-beta:hover {
    transform: rotate(-30deg);
    transition-duration: 400ms;
}

.logo-beta {
    transition-duration: 400ms;
}

.avatar:hover {
    opacity: 30%;
    transition-duration: 1200ms;
}

.avatar {
    opacity: 80%;
    transition-duration: 1200ms;

}
