.navbar-lewagon {
    justify-content: space-between;
    // background: #fff9f3;
    background-color: rgba(255, 255, 255, 0.7);
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}


.logo-beta:hover {
    transform: rotate(-30deg);
    transition-duration: 400ms;
}

.logo-beta {
    transition-duration: 400ms;
}

.avatar:hover {
    opacity: 30%;
    transition-duration: 1200ms;
}

.avatar {
    opacity: 80%;
    transition-duration: 1200ms;
    margin-left: 10px;
    margin-top: 6px;
    width: 30px;
}

/* logout text */
.logout-item {
    color: $color-lightorange;

    &:hover {
        text-decoration: none;
        color: $color-orange;
    }
}


/* navbar toggler (hamburger button) -> mobile view */
// .navbar-toggler {
//     border-radius: 100px;
// }

// .navbar-light .navbar-toggler {
//     border: none;

//     &:hover {
//         border: none;
//     }
// }

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}
